      <footer _ngcontent-c2="" class="page-footer background-ct-blue center-on-small-only">
        <div _ngcontent-c2="" class="footer-copyright">
          <div _ngcontent-c2="" class="container-fluid"> © 2019 <a _ngcontent-c2="" routerlink="/home" href="/home">Combined Technology</a>
          </div>
        </div>
      </footer>