<%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
<main role="main" class="inner cover" style="text-align:center">
    <div id='back'>
      <div  class="container flex-left">
        <div  class="row pt-5 mt-5">
          <div  class="col-md-12 mb-3">
<%#= image_tag "nv-1.jpg", alt: "profile image", style: "background-position: center bottom"%>
          <h1 class="display-3 mb-5 wow fadeInDown white-text" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">A new world of applications</h1>
                   
          <h2 class="wow fadeInDown white-text display-7 mt-3" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;"> We provide sustainable results exploiting new routes of IoT and predictive analytics. </h4>
                    
          <p class="about-description section-description mb-5 mt-1 font-bold wow fadeInDown lead white-text lead" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;"> IT IS TIME  TO USE MY OWN DATA </p>
                   
          <a class="btn btn-outline-white ct-blue btn-lg wow fadeInDown waves-light" role="button" href="/dab">I own a business</a>
                               
          <a  class="btn btn-outline-white ct-blue btn-lg wow fadeInDown waves-light" data-wow-delay="0.3s" mdbrippleradius="" routerlink="/services" href="/services" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">I own a property</a>

          <a class="btn btn-light ct-blue  btn-lg wow fadeInDown waves-light" role="button" href="/dab">Consultancies</a>
      
        </div>
     </div>
    </div>
  </div>

</main>