<section class="elementor-element elementor-element-450d1c77 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="450d1c77" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-container elementor-column-gap-no">
	<div class="elementor-row">
		<div class="elementor-element elementor-element-72732b06 elementor-column elementor-col-50 elementor-top-column" data-id="72732b06" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
				<div class="elementor-widget-wrap">
					<div class="elementor-element elementor-element-790f6cb elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-image" data-id="790f6cb" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<div class="elementor-image">									
								<%= image_tag "sew.jpg", class: "attachment-full size-full", alt: "", width: "600", height: "900" %>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>	
		<div class="elementor-element elementor-element-76d9e84e animated-slow elementor-column elementor-col-50 elementor-top-column animated fadeInRight" data-id="76d9e84e" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
			<div class="elementor-column-wrap  elementor-element-populated">
				<div class="elementor-widget-wrap">
					<section class="elementor-element elementor-element-1b5a5a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1b5a5a1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-element elementor-element-7707e49 elementor-column elementor-col-100 elementor-inner-column" data-id="7707e49" data-element_type="column">
									<div class="elementor-column-wrap  elementor-element-populated">
										<div class="elementor-widget-wrap">
											<div class="elementor-element elementor-element-abc5f2a elementor-widget elementor-widget-menu-anchor" data-id="abc5f2a" data-element_type="widget" data-widget_type="menu-anchor.default">
												<div class="elementor-widget-container">
													<div id="about" class="elementor-menu-anchor"></div>
												</div>
											</div>
										<div class="elementor-element elementor-element-78e4827 elementor-widget elementor-widget-heading" data-id="78e4827" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
										<div class="elementor-heading-title elementor-size-small">How</div>		</div>
										</div>
										<div class="elementor-element elementor-element-d82c840 elementor-widget elementor-widget-heading" data-id="d82c840" data-element_type="widget" data-widget_type="heading.default">
											<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Our values</h2>		</div>
										</div>
										<div class="elementor-element elementor-element-2eacaafe elementor-widget elementor-widget-text-editor" data-id="2eacaafe" data-element_type="widget" data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<div class="elementor-text-editor elementor-clearfix"><p>From our extensive experience in Modern Manufacturing, Internet of Things and Predictive Simulations we know how we can reduce inefficiencies while enable your customers to perceive your real value proposition. </p>
												<p>
												We want to give to this intent a human touch providing an alternative platform where you can give again to life your loved instrumentations, assets and equipment. </p>
												<p>While navigating the applications of the Internet of Things, we deploy and give to light what you already have but did not thought was worth to use. </p>
												<p>Our patented systems comprehensive of a central electronic unit can be used on mostly all the equipments that requires a power supply. </p>
												 <p>Our platform allows you to receive a notification where there is somebody willing to use your equipment, while providing a quick and cost effective job for your new customers.  </p>
												</div>
											</div>
										</div>
														<div class="elementor-element elementor-element-15e600a elementor-widget elementor-widget-spacer" data-id="15e600a" data-element_type="widget" data-widget_type="spacer.default">
														<div class="elementor-widget-container">
															<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
														</div>
														</div>
										</div>
								</div>
							</div>
						</div>
					</div>
		</section>
				<section class="elementor-element elementor-element-2f06e7f2 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="2f06e7f2" data-element_type="section">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-ccceedd elementor-column elementor-col-25 elementor-inner-column" data-id="ccceedd" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-populated">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-473f0410 elementor-widget elementor-widget-spacer" data-id="473f0410" data-element_type="widget" data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						<div class="elementor-element elementor-element-360713c elementor-column elementor-col-25 elementor-inner-column" data-id="360713c" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-15a7280c elementor-widget elementor-widget-spacer" data-id="15a7280c" data-element_type="widget" data-widget_type="spacer.default">
										<div class="elementor-widget-container">
											<div class="elementor-spacer">
												<div class="elementor-spacer-inner"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="elementor-element elementor-element-7a76dcdb elementor-column elementor-col-25 elementor-inner-column" data-id="7a76dcdb" data-element_type="column">
						<div class="elementor-column-wrap  elementor-element-populated">
							<div class="elementor-widget-wrap">
								<div class="elementor-element elementor-element-3568e0d0 elementor-widget elementor-widget-spacer" data-id="3568e0d0" data-element_type="widget" data-widget_type="spacer.default">
									<div class="elementor-widget-container">
										<div class="elementor-spacer">
											<div class="elementor-spacer-inner"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<div class="elementor-element elementor-element-48c23e1 elementor-column elementor-col-25 elementor-inner-column" data-id="48c23e1" data-element_type="column">
					<div class="elementor-column-wrap  elementor-element-populated">
						<div class="elementor-widget-wrap">
							<div class="elementor-element elementor-element-307d891d elementor-widget elementor-widget-spacer" data-id="307d891d" data-element_type="widget" data-widget_type="spacer.default">
								<div class="elementor-widget-container">
									<div class="elementor-spacer">
										<div class="elementor-spacer-inner"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</div>
</div>
</div>
</div>
</section>