<section class="elementor-element elementor-element-227f98f9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="227f98f9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-row">
			<div class="elementor-element elementor-element-42420674 elementor-column elementor-col-100 elementor-top-column" data-id="42420674" data-element_type="column">
				<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-f0b8220 elementor-widget elementor-widget-menu-anchor" data-id="f0b8220" data-element_type="widget" data-widget_type="menu-anchor.default">
							<div class="elementor-widget-container">
								<div id="focus" class="elementor-menu-anchor"></div>
							</div>
						</div>
							<div class="elementor-element elementor-element-48d44fc9 elementor-widget elementor-widget-heading" data-id="48d44fc9" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<div class="elementor-heading-title elementor-size-default">What</div>		
								</div>
							</div>
						<div class="elementor-element elementor-element-52c6b62b elementor-widget elementor-widget-heading" data-id="52c6b62b" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Our expertise.</h2>		</div>
						</div>
							<div class="elementor-element elementor-element-46b3e4aa elementor-widget elementor-widget-heading" data-id="46b3e4aa" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<div class="elementor-heading-title elementor-size-default"></div></div>
							</div>
	<section class="elementor-element elementor-element-528ba527 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="528ba527" data-element_type="section">
		<div class="elementor-container elementor-column-gap-no">
			<div class="elementor-row">
				<div class="elementor-element elementor-element-186d9bc0 elementor-column elementor-col-25 elementor-inner-column" data-id="186d9bc0" data-element_type="column">
					<div class="elementor-column-wrap  elementor-element-populated">
						<div class="elementor-widget-wrap">
							<div class="elementor-element elementor-element-141b2755 animated-slow elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInLeft" data-id="141b2755" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
						<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><%= image_tag("algorithms.jpg", alt: "", class: "attachment-full size-full", width: "55", height:"55") %></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Algorithm Design</h5><p class="elementor-image-box-description">Using our online platform you can define your requirements ready to be passed to the delivery team.</p></div></div>		</div>
							</div>
						</div>
					</div>
				</div>
			<div class="elementor-element elementor-element-5143c0bf elementor-column elementor-col-25 elementor-inner-column" data-id="5143c0bf" data-element_type="column">
				<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-244551f4 animated-slow elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInUp" data-id="244551f4" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="image-box.default">
						<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><%= image_tag("circuits.jpg", alt: "", class: "attachment-full size-full", width: "54", height:"48") %><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Circuit Design</h5><p class="elementor-image-box-description">We own 100% of the design of our innovative units and with the commodate we commit in continous innovation. </p></div></div>		</div>
						</div>
					</div>
				</div>
			</div>
				<div class="elementor-element elementor-element-47f2315 elementor-column elementor-col-25 elementor-inner-column" data-id="47f2315" data-element_type="column">
					<div class="elementor-column-wrap  elementor-element-populated">
						<div class="elementor-widget-wrap">
							<div class="elementor-element elementor-element-6ac857b3 animated-slow elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInDown" data-id="6ac857b3" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><%= image_tag("safety.jpg", alt: "", class: "attachment-full size-full", width: "55", height:"55") %></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Safety</h5><p class="elementor-image-box-description"> We have experience and qualification in Directive for Appliance Testing and you can rely on the usage and integration of our devices, </p></div></div>		
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-165f2ada elementor-column elementor-col-25 elementor-inner-column" data-id="165f2ada" data-element_type="column">
					<div class="elementor-column-wrap  elementor-element-populated">
						<div class="elementor-widget-wrap">
							<div class="elementor-element elementor-element-7e14aea7 animated-slow elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box animated fadeInRight" data-id="7e14aea7" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}" data-widget_type="image-box.default">
							<div class="elementor-widget-container">
						<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><%= image_tag("neve-smart-experience1.png", alt: "", class: "attachment-full size-full", width: "55", height:"54") %></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Web app</h5><p class="elementor-image-box-description">Receive real time offers for your artisanility using our robust web app. Provide as well a better experience to your customers.</p></div></div>		</div>
					</div>
				</div>
			</div>
				</div>
			</div>
			</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>