<section class="elementor-element elementor-element-42c9421d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="42c9421d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-52143f39 elementor-column elementor-col-100 elementor-top-column" data-id="52143f39" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-e1737f3 elementor-widget elementor-widget-menu-anchor" data-id="e1737f3" data-element_type="widget" data-widget_type="menu-anchor.default">
				<div class="elementor-widget-container">
					<div id="why-us" class="elementor-menu-anchor"></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-4d4be80f elementor-widget elementor-widget-heading" data-id="4d4be80f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<div class="elementor-heading-title elementor-size-default">IV</div>		</div>
				</div>
				<div class="elementor-element elementor-element-570572e3 elementor-widget elementor-widget-heading" data-id="570572e3" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Why Select Us?</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-265459b9 elementor-widget elementor-widget-heading" data-id="265459b9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<div class="elementor-heading-title elementor-size-default">We understand your requirement and provide quality works.</div>		</div>
				</div>
				<section class="elementor-element elementor-element-19ae5320 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section animated fadeInUp" data-id="19ae5320" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-baae1c5 elementor-column elementor-col-33 elementor-inner-column" data-id="baae1c5" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3d31406c elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="3d31406c" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><%= image_tag("neve-business-growth-1.png", alt: "", class: "attachment-full size-full", width: "53", height:"59") %></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title">Business<br>Growth</span></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-550d0e4d elementor-widget elementor-widget-text-editor" data-id="550d0e4d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>We provide a channel for your unique capability for your artisan capabilities and fasten up your delivery times eliminating all the not value added activities and documentations.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-366b12db elementor-column elementor-col-33 elementor-inner-column" data-id="366b12db" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-72c4b85c elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="72c4b85c" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="http://localhost/Datagentibus/wp-content/uploads/2018/12/neve-unlimited-revisions2.png" class="attachment-full size-full" alt="" width="52" height="59"></figure><div class="elementor-image-box-content"><div class="elementor-image-box-title">Fast<br>Decisions</div></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-eda63d0 elementor-widget elementor-widget-text-editor" data-id="eda63d0" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Receive all the data you need to accept or refuse an opportunity arising from the Datagentibus market.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-1deb560a elementor-column elementor-col-33 elementor-inner-column" data-id="1deb560a" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-370769bf elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="370769bf" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="http://localhost/Datagentibus/wp-content/uploads/2018/12/neve-ultimate-perfection-1.png" class="attachment-full size-full" alt="" width="53" height="59"></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title">No more<br>Breakdown</span></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-50061f0d elementor-widget elementor-widget-text-editor" data-id="50061f0d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>We bring you all the tools to enable a simple Predictive Maintenance Plan and our electronic unit collect all the information to ensure you have the right and minimal amount of efforts to avoid breakdown to happen again.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-7fabc90e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section animated fadeInUp" data-id="7fabc90e" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-4eb3c4fd elementor-column elementor-col-33 elementor-inner-column" data-id="4eb3c4fd" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-784412fb elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="784412fb" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="http://localhost/Datagentibus/wp-content/uploads/2018/12/neve-smart-experience1.png" class="attachment-full size-full" alt="" width="57" height="55"></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title">Smart<br>Inventory</span></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-51efb023 elementor-widget elementor-widget-text-editor" data-id="51efb023" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Monitor the value of your equipment and minimize risks of unexpected costs.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-e9132ea elementor-column elementor-col-33 elementor-inner-column" data-id="e9132ea" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-388bd34e elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="388bd34e" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="http://localhost/Datagentibus/wp-content/uploads/2018/12/neve-strict-deadline1.png" class="attachment-full size-full" alt="" width="53" height="59"></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title">Show<br>your<br>sustainibility</span></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-4d047daa elementor-widget elementor-widget-text-editor" data-id="4d047daa" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>With our device you can instantanously monitor your cost savings and your effort for the sustainibility  .</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-644bb5a0 elementor-column elementor-col-33 elementor-inner-column" data-id="644bb5a0" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3fe9a264 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="3fe9a264" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="http://localhost/Datagentibus/wp-content/uploads/2018/12/neve-reputed-copmany1.png" class="attachment-full size-full" alt="" width="35" height="59"></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title">Make your skills <br>available</span></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-201545fd elementor-widget elementor-widget-text-editor" data-id="201545fd" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Deploy your core competences.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
	
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>