<section class="marketing-site-three-up">
  <h2 class="marketing-site-three-up-headline"></h2>
  <div class="row medium-unstack">
  </div>


  <div class="middle-content-section">
    <h1>Welcome to Edwards Maintenance System</h1>
    <button class="button large">Myself</button>
    <button class="button large">My interests</button>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
    <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
  </div>

<hr>
    <div class="row column">
      <div class="callout primary">
        <h3>Really big special this week on items.</h3>
      </div>
    </div>
<hr>
    
<hr>
<div class="row">
  <div class="medium-4 columns">
    <h4>Top Products</h4>
  </div>
  <div class="medium-4 columns">
    <h4>Top Products</h4>
    <div class="media-object">
      <div class="media-object-section">
      <img class="thumbnail" src="https://placehold.it/100x100">
      </div>
      <div class="media-object-section">
      <h5>Nunc Eu Ullamcorper Orci</h5>
      <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
      </div>
    </div>
    
    <div class="media-object">
      <div class="media-object-section">
      <img class="thumbnail" src="https://placehold.it/100x100">
      </div>
        <div class="media-object-section">
        <h5>Nunc Eu Ullamcorper Orci</h5>
        <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
  </div>
</div>

</div>

<div id="main-content-section" data-magellan-target="main-content-section">
 <div class="row column text-center">
    <h2>Consultancies I can offer</h2>
  <hsr>
</div>
</section>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>