<section class="marketing-site-three-up">
  <h2 class="marketing-site-three-up-headline"></h2>
  <div class="row medium-unstack">
  </div>

<hr>
  <div class="middle-content-section">
    <h1>Welcome to Edwards Maintenance System</h1>
  </div>

  
<hr>

</div>

<div id="main-content-section" data-magellan-target="main-content-section">
 
</section>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>