
<div class="sticky-footer-css">
  <div class="row expanded flex-dir-column">
    
 
    
    <div class="columns sticky-footer-css-body text-center">
      <p>Body Content</p>
      <p>Maintenance System</p>
     
      <%= image_tag("Edwards_Logo.png", :style => 'borders: 1px solid #000;')%> 
      <p>All rights reserved</p>
    </div>
    
  
  </div>
</div>