<div class="mobile-app-icon-bar">
<%= link_to dashboard_path, :class=> "you_class" do %><i class="fa fa-dashboard fa-5x" aria-hidden="true" target="_blank"></i><% end %>
<%= link_to maintenances_path, :class=> "you_class" do %><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true" target="_blank"></i><% end %>
<%= link_to new_user_session_path, :class=> "you_class" do %><i class="fa fa-user-o fa-5x" aria-hidden="true" target="_blank"></i><% end %>
<%= link_to new_user_session_path, :class=> "you_class" do %><i class="fa fa-list-ul fa-5x" aria-hidden="true" target="_blank"></i><% end %>

</div>

