
   <!-- top bar --> 
  <nav>
	<ul>
        <li>
          <h1><a href="#">Destination Tours</a></h1>
        </li>
    </ul>
	
    <ul>
      <li><a href="#">About Us</a></li>
      <li>
        <a href="#">Tours</a>
        <ul>
          <li><a href="#">tour package 1</a></li>
          <li><a href="#">tour package 2</a></li>
          <li><a href="#">tour package 3</a></li>
        </ul>
      </li>
    </ul>
	
    <ul>
      <li><input type="text"/> <a href="#">Search</a></li>
    </ul>
  </nav>
 