      <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
            <li class="menu-text">Edwards High Vacuum Maintenance System</li>
        <%= navlist_helper menu01 %>  
        <%#= nestedlist_helper menu02, menu0102%>
        <%#= nestedlist_helper menu03, menu0103%>
        <%= nestedlogin_helper menu03, menu010402%>
        <%#= nestedleave_domain menu04 if Apartment::Tenant.current != "public" %>
        <%= navlist_helper menu04 if current_user.is_a?(User) %>  
      </ul> 
            </ul>
          </div>
       
        <div class="top-bar-right">
      
      <ul class="menu">

      </ul> 
      </div>
    </div>
    