<div class="form-group nested-fields">
    <div class="card-header py-12">
    <div class="row">
    	<div class="col-md-4" align='left'><%= f.label :contract %></div>
		<div class="col-md-6"><%= f.collection_select :verification_ids, @contract,:id,:reference , include_blank: false %></div>
		
	</div>
</div>