<div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info"><i class="fa fa-align-left"></i><span></span></button>
<div class="container">
   <div class="card shadow mb-4">
   	<div class="card-img-left d-none d-md-flex"></div>
		<div class="card-header py-3">

			<%- model_class = Maintenance -%>
			<div class="page-header" align="left">
			  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model} Schedule'], :model => model_class.model_name.human.titleize %></h1>
			</div>
			<%= render :partial => 'form' %>
		<%= link_to 'Show', @maintenance %> |
		<%= link_to 'Back', services_path %>
		</div>
	</div>
</div>
</div>