/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 */
/* Sidebar Styles */

.social-footer {
  padding: 1rem;
  background: #c4262e;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fa {
      font-size: 1.3rem;
      color: white;

      &:hover {
        color: darken(#c4262e, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}


.sticky-footer-css {
  height: 100vh;
  display: flex;
}

.sticky-footer-css-body {
  overflow: auto;
}

// Styles for demo
// -------------------------------------------------
$slate-gray: #2c3840;
$edwards: #c4262e;
.sticky-footer-css {
  .header {
    background-color: $edwards;
    height: 10rem;
    color: #fff;
    padding: 3rem;

    .menu a {
      color: #fff;
    }
  }

  .body-content {
    background-color: #fff;
  }

  .footer {
    height: 10rem;
    background-color: $edwards;
    color: #fff;
    padding: 3rem;

    .menu a {
      color: #fff;
    }
  }
}



