        <button
            class="button button-rounded-hover"
            type="button"
            data-toggle="collapse"
            data-target="#myself"
            aria-expanded="false"
            aria-controler="myself"
          >My self
        </button>
                        

          <button
            class="button button-rounded-hover"
            type="button"
            data-toggle="collapse"
            data-target="#interests"
            aria-expanded="false"
            aria-controler="interests"
          >
            My interests
          </button>

          <button
            class="button button-rounded-hover"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            My cv
          </button>

          </button>

          <button
            class="button button-rounded-hover"
            type="button"
            data-toggle="collapse"
            data-target="#press"
            aria-expanded="false"
            aria-controler="press"
            >
            My articles 
          </button>
