          <div class="collapse" id="press">
            <div class="portfolio-resume row"  >
              <div class="large-8 columns">
                <div class="portfolio-resume-wrapper">
                  <%= link_to 'RubyRogues', "https://devchat.tv/ruby-rogues/mrs-008-jordan-hudgens", target: '_blank' %>
                  <div class="col-md-10">
                  My Ruby Story - Jordan Hudgens
                  </div>
                </div>
              </div>
            </div>
            
              <div class="portfolio-resume row"  >
                <div class="large-8 columns">
                  <div class="portfolio-resume-wrapper">
                    <%= link_to 'RubyRogues', "https://devchat.tv/ruby-rogues/rr-318-metaprogramming-jordan-hudgens", target: '_blank' %>
                    <div class="col-md-10">
                      Practical Metaprogramming
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="portfolio-resume row"  >
                <div class="large-8 columns">
                  <div class="portfolio-resume-wrapper">
                    <%= link_to 'Forbes', "https://www.forbes.com/sites/larrymyler/2017/04/25/how-a-solution-to-one-of-your-problems-could-be-your-next-business/#4fd543cd5ac5", target: '_blank' %>
                    <div class="col-md-10">
                      Practical Metaprogramming
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
