
          <div class="collapse" id="interests">
            
            <div class="portfolio-resume row"  >
              <div class="large-8 columns">
                <div class="portfolio-resume-wrapper">
                <div class="col-md-3">
                  <%#= image_tag 'about/devcamp.png', width: '100%' %>
                </div>
                <div class="col-md-5">
                  <strong>CTO</strong> - Lead in the development of the devCamp Learning Management System along with curriculum development from founding to acquisition.
                </div>
              </div>
            </div>
            
            <div class="portfolio-resume row"  >
              <div class="large-8 columns">
                <div class="portfolio-resume-wrapper">
                <div class="col-md-3">
                  <%#= image_tag 'about/slate.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Chief Architect</strong> - Lead in the planning of a number of key development projects.
                </div>
              </div>
            </div>
          </div>
            
            <div class="portfolio-resume row"  >
              <div class="large-8 columns">
                <div class="portfolio-resume-wrapper">
                <div class="col-md-3">
                  <%#= image_tag 'about/bottega.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Curriculum Director</strong> - Developed the curriculum for the Bottega Code School, including courses on: Ruby on Rails, Algorithms & Data Structures, Front End Coding, and Database Management.
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
