          <div class="collapse" id="education">
            <div class="portfolio-resume row"  >
              <div class="large-8 columns">
                <div class="portfolio-resume-wrapper">
                  Currently in Graduate School in the Texas Tech University Computer Science program studying machine learning.
                  <%#=image_tag 'about/ttu.png', width: '100%' %>
                </div>
              </div>
            </div>
            
            <div class="portfolio-resume row"  >
              <div class="large-8 columns">
                <div class="portfolio-resume-wrapper">
                  Currently in Graduate School in the Texas Tech University Computer Science program studying machine learning.
                  <%#=image_tag 'about/ttu.png', width: '100%' %>
                </div>
              </div>
            </div>
          
          </div>
